{{!< default}}

<div class="voteInner">
    <div class="voting">
        <div class="block voteSidebar">
            <span class="iconify" data-icon="game-icons:vote" data-width="128" data-height="128"></span>
            <p>Every single day you can vote up to 5 times and receive a total of 5x Aquatic Gemstones (1 for each vote). The links will redirect you directly towards the pages you can vote on. Additionally, You can use the command /vote in-game to start voting.</p>
        </div>
        <div class="block voteContent">
            <ul>
                <li class="first"><a target="_blank" href="{{@custom.vote1}}">Vote Link #1</a></li>
                <li class="first"><a target="_blank" href="{{@custom.vote2}}">Vote Link #2</a></li>
                <li class="first"><a target="_blank" href="{{@custom.vote3}}">Vote Link #3</a></li>
                <li class="second"><a target="_blank" href="{{@custom.vote4}}">Vote Link #4</a></li>
                <li class="second"><a target="_blank" href="{{@custom.vote5}}">Vote Link #5</a></li>
            </ul>
        </div>
    </div>
</div>